.toggler {
  width:100%;
  padding-top:12px;
  padding-bottom:12px;
  border-top:1px solid rgba(0,0,0,.3);
  font:1.3em 'Merriweather Sans',sans-serif;;
  color:#000;
  font-weight: 700;
  cursor: pointer;
  &:before {
    font:1.1em 'Merriweather Sans',sans-serif;;
    color:#000;
    font-weight: 700;
    content: ">";
  }
  &:after {
    float:right;
    font:1.1em 'icomoon';
    color:#a85611;
    font-weight: 700;
    content: "\65";
  }
}

.toggler.active,
.toggler.hover {
  background-color:#fff;
}

.toggler.active:after {
  float:right;
  font:1.1em 'icomoon';
  color:#a85611;
  font-weight: 700;
  content: "\66";
}

.accordion .ce_text p {
  img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}