@font-face {
  font-family: "icomoon";
  src:  url("files/layout/font/icomoon.eot?bu1lam");
  src:  url("files/layout/font/icomoon.eot?bu1lam#iefix") format('embedded-opentype'),
  url("files/layout/font/icomoon.ttf?bu1lam") format('truetype'),
  url("files/layout/font/icomoon.woff?bu1lam") format('woff'),
  url("files/layout/font/icomoon.svg?bu1lam#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
